

            <nav *ngIf="nav.visible" class="navbar navbar-expand-lg navbar-light bg-gradient-secondary">
                
                <h1>  
                        <img  class="navbar-brand text-white" src="/assets/images/ced.png" width="80" height="45" routerLink="/home">
                </h1>
                <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-lg-auto text-center">
                        <li class="nav-item   mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link" routerLink="/home">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item  mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link scroll" routerLink="/menu/options"> Services </a>
                        </li>

                        <li class="nav-item  mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link scroll" routerLink="/chat"> Get Informed </a>
                        </li>

                        <li class="nav-item  mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link scroll" >About</a>
                        </li>
                        <li class="nav-item mr-lg-3 mt-lg-0 mt-3">
                            <a class="nav-link scroll" >Contact</a>
                        </li>
                       
                        <li class="nav-item mr-lg-3 mt-lg-0 mt-3" *ngIf="isLoggedIn">
                            <a class="nav-link scroll"  > {{ roles }} </a></li>


                            <li class="nav-item mr-lg-3 mt-lg-0 mt-3" *ngIf="isLoggedIn">
                                <a class="nav-link scroll" (click)="logout()"> <i class="fas fa-sign-out-alt"></i> </a>
                            </li>     
                    
                          
                    </ul>
                </div>

            </nav>

       