	<section class="w3l-form-36">
		<div class="form-36-mian section-gap">
			<div class="wrapper">
				<div class="form-inner-cont">
					<form #form="ngForm" (submit)="onSubmit(form)" autocomplete = "off" class="signin-form">

						<div class="form-input">
							<span class="fa fa-user-o" aria-hidden="true"></span> 
							<input type="text"  #name="ngModel"  class="form-control"  name="Name" #Name = "ngModel" [(ngModel)]="service.formData.Name" required placeholder="Full Name" /> 
				
						</div> 

						<div class="form-input">
							<span class="fa fa-envelope-o" aria-hidden="true"></span> 
							<input type="email"  #email="ngModel" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control"  name="Email" #Email = "ngModel" [(ngModel)]="service.formData.Email" required placeholder="Email" />
			
						</div>

						<div class="form-input">
							<span  class="fa fa-car" aria-hidden="true"></span> 
							<input type="text" #VehicleRegistration="ngModel"  required pattern= "^[A-Z]{2}[ -][0-9]{1,2}(?: [A-Z])?(?: [A-Z]*)? [0-9]{4}$" class="form-control"  name="VehicleRegistration" #VehicleRegistration = "ngModel" [(ngModel)]="service.formData.VehicleRegistration" required placeholder="Vehicle Registration XX zz XX zzzz" />
					
						</div>

						<div class="form-input">
							<span class="fa fa-home" aria-hidden="true"></span>
							<select placeholder="Registration Country"  #RegistrationCountry="ngModel"  class="form-control" name="RegistrationCountry" #RegistrationCountry = "ngModel" [(ngModel)]="service.formData.RegistrationCountry" required>
                                <option *ngFor ="let count of countryList">{{count.name}}</option>
							</select>
			
						</div>

						<div class="form-input">
							<span class="fa fa-phone" aria-hidden="true"></span>
                            <input type="text" #PhoneNumber="ngModel" required pattern="" class="form-control" placeholder="Phone Number" name="PhoneNumber" #PhoneNumber = "ngModel" [(ngModel)]="service.formData.PhoneNumber" required>
                 
                    </div>

						<div class="form-input">
							<span class="fa fa-key" aria-hidden="true"></span>
							<input type="password"  placeholder=" Password "  class="form-control" name="Password" #Password = "ngModel" [(ngModel)]="service.formData.Password" required />
						</div>
						
						<div class="form-input">
							<span class="fa fa-key" aria-hidden="true"></span> 
							<input type="password" class="form-control"  name="ConfirmPassword" #ConfirmPassword = "ngModel" [(ngModel)]="service.formData.ConfirmPassword"  validateEqual="password" placeholder="Confirm Password" required />
						</div>
						<div class="login-remember d-grid">
							<label class="check-remaind">
							</label>
							<button  type="submit"  class="btn theme-button" value="Register" [disabled]="form.invalid"  style="background-color: #86bc35; color: #ffff; font-weight: bold;">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>