<form #form="ngForm">
    <div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-7 col-md-6" style ="position: relative">
            <div class="card b-0">
                <h1 class="heading">Select an option</h1>

                <fieldset class="show">
                    <div class="form-card">
                        <h4 class="sub-heading">
                            Please complete as much information as you have available, 
                            you can always log back in to add additional pieces of information</h4>
                        <div class="row px-1 radio-group">
                            <div class="card-block text-center radio"  routerLink="/profil">
                                <div class="image-icon"> <img class="icon icon1 fit-image" src="https://i.imgur.com/vZxfo9x.png" > </div>
                                <input type="submit" class="sub-desc" value="Edit profil"  > 
                            </div>
 
                            <div class="card-block text-center radio" routerLink="/addClaim">
                                <div class="image-icon"> <img class="icon icon1 fit-image" src="https://i.imgur.com/HnX40f4.png" > </div>
                                <input type="submit" class="sub-desc" value="Add claim"   > 
                            </div>

                            <div class="card-block text-center radio">
                                <div class="image-icon"> <img class="icon icon1 fit-image" src="https://i.imgur.com/ynKYPkk.png"> </div>
                                <input type="submit" class="sub-desc" value="Edit claim"> 
                            </div>

                            <div class="card-block text-center radio"  routerLink="/claimResponse">
                                <div class="image-icon"> <img class="icon icon1 fit-image" src="https://i.imgur.com/vZxfo9x.png"> </div>
                                <input type="submit" class="sub-desc" value="Show response"  > 
                            </div>

                        </div> 
                    </div>
                </fieldset>   
            </div>
        </div>
    </div>
</div> 
</form>
<script src="/assets/js/mainn.js"></script>
