<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Insurance Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <!--link href="/assets/css/bootstrap.css" type="text/css" rel="stylesheet" media="all"-->
    <link href="/assets/style.css" type="text/css"  media="all">
    <!-- grid hover -->
    <link href="/assets/css/hover.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="/assets/css/fontawesome-all.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- //online-fonts -->
</head> 

<div class="banner" id="home"></div>

<div class="about-w3sec py-sm-5" id="about">
    <div class="container py-4">
        <div class="title-section pb-4">
            <h3 class="main-title-agile">you are in good hands</h3>
            <span class="title-line">
            </span>
        </div>
        <div class="ins-sec1">
            <div class="row">
                <div class="col-lg-4">
                    <div  class="abt-block mb-lg-0 mb-5">
                        <div class="serv_abs serv_bottom1">
                            <i class="fa fa-home"></i>
                        </div>
                        <h3 style= "color: #56238e; font-weight: 700;">PROPERTY</h3>
                        <p>Rutrum congue donec leo eget malesuada. Cras ultricies ligula sed magna dictum porta.</p>
                    </div>
                </div>
                <div class="col-lg-4 my-lg-0 my-md-5">
                    <div class="abt-block">
                        <div class="serv_abs serv_bottom2">
                            <i class="fa fa-car"></i>
                        </div>
                        <h3 style="color: #3899dd;">MOBILITY</h3>
                        <p>Congue rutrum congue leo eget malesuada. Cras ultricies ligula sed magna dictum porta.</p>
                    </div>
                </div>
                <div class="col-lg-4 mt-lg-0 mt-md-5">
                    <div class="abt-block mt-md-0 mt-5">
                        <div class="serv_abs serv_bottom3">

                            <i class="fa fa-heartbeat"></i>
                        </div>
                        <h3 style="color: #86bc35;">VITALITY</h3>
                        <p>Cras ultricies congue rutrum congue leo eget malesuada. Ligula sed magna dictum porta.</p>
                    </div>
                </div>
            </div>
    </div>
</div>

    <!-- //about -->
    
  <!-- testimonials -->
  <div class="testimonials py-lg-5" id="testi">
    <div class="container py-5">
        <div class="title-section pb-4">
            <h3 class="main-title-agile text-white">what people say about us.</h3>
            <span class="title-line bg-light">
            </span>
        </div>
        <div class="text-center py-lg-5">
            <div class="callbacks_container">
                <ul class="rslides" id="slider3">
                    <li>
                        <div class="testi-agile">
                            <p>
                                <i class="fas fa-quote-left"></i>Vivamus magna justo, lacinia eget consectetur
                                sed,
                                convallis at tellus. Nulla
                                quis lorem ut libero malesuada feugiat.Nulla quis lorem ut libero malesuada
                                feugiat.
                                Donec rutrum congue leo eget malesuada. Lorem ipsum dolor sit amet, consectetur
                                adipiscing
                                elit.
                                <i class="fas fa-quote-right"></i>
                            </p>
                        </div>
                        <div class="testi-pos">
                            <img src="/assets/images/ts1.jpg" alt="" class="img-fluid rounded-circle mb-3" />
                            <h4>arim john</h4>
                            <span>congue leo</span>
                        </div>
                    </li>
                    <li>

                        <div class="testi-agile">
                            <p>
                                <i class="fas fa-quote-left"></i>Donec rutrum congue leo eget consectetur sed,
                                convallis at tellus. Nulla quis
                                lorem ut libero malesuada feugiat.Nulla quis lorem ut libero malesuada feugiat.
                                Donec
                                rutrum congue leo eget malesuada. Lorem ipsum dolor sit amet, consectetur
                                adipiscing
                                elit
                                <i class="fas fa-quote-right"></i>
                            </p>
                        </div>
                        <div class="testi-pos">
                            <img src="/assets/images/ts2.jpg" alt="" class="img-fluid rounded-circle mb-3" />
                            <h4>john arim</h4>
                            <span>lacinia eget</span>
                        </div>
                    </li>
                    <li>
                        <div class="testi-agile">
                            <p>
                                <i class="fas fa-quote-left"></i>Vivamus magna justo, lacinia eget consectetur
                                sed,
                                convallis at tellus. Nulla
                                quis lorem ut libero malesuada feugiat.Nulla quis lorem ut libero malesuada
                                feugiat.
                                Donec rutrum congue leo eget malesuada. Lorem ipsum dolor sit amet, consectetur
                                adipiscing
                                elit
                                <i class="fas fa-quote-right"></i>
                            </p>
                        </div>
                        <div class="testi-pos">
                            <img src="/assets/images/ts3.jpg" alt="" class="img-fluid rounded-circle mb-3" />
                            <h4>john arim</h4>
                            <span>Donec rutru</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- //testimonials -->

    <!-- contact -->
    <div class="contact-wthree" id="contact">
    <div class="container py-sm-5">
        <div class="title-section py-4">
            <h3 class="main-title-agile">contact us</h3>
            <span class="title-line">
            </span>
        </div>
        <div class="row py-lg-5 py-4">
            <div class="col-lg-4">
                <div class="agile-contact-top">
                    <h4>get in touch </h4>
                    <p>1234k Avenue,Block-4,New York City.</p>
                </div>
                <hr>
                <p>Donec mi nulla, auctor nec sem a, ornare auctor mi. Sed mi tortor, commodo a felis in,
                    fringilla
                    tincidunt
                    nulla. Vestibulum volutpat non eros ut vulpuuctor nec sem </p>
                <div class="d-sm-flex">
                    <a class="btn btn-primary mt-4 agile-link-bnr scroll" href="#footer" role="button">subscribe
                    </a>
                    <a href="#" role="button" data-toggle="modal" data-target="#exampleModal1" class="btn btn-primary mt-4 ml-3 agile-link-bnr scroll text-white">
                        Register Now</a>
                </div>
    
            </div>
            <div class="offset-2"></div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <!-- register form grid -->
                <div class="register-top1">
                    <form action="#" method="get" class="register-wthree">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>
                                        First name
                                    </label>
                                    <input class="form-control" type="text" placeholder="Johnson" name="email"
                                        required="">
                                </div>
                                <div class="col-md-6 mt-md-0 mt-4">
                                    <label>
                                        Last name
                                    </label>
                                    <input class="form-control" type="text" placeholder="Kc" name="name" required="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>
                                        Mobile
                                    </label>
                                    <input class="form-control" type="text" placeholder="xxxx xxxxx" name="email"
                                        required="">
                                </div>
                                <div class="col-md-6 mt-md-0 mt-4">
                                    <label>
                                        Email
                                    </label>
                                    <input class="form-control" type="email" placeholder="example@email.com" name="email"
                                        required="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>
                                        Your message
                                    </label>
                                    <textarea placeholder="Type your message here" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-agile btn-block w-100 font-weight-bold text-uppercase">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>


                 <!-- // register -->
    <!-- js -->
    <script src="/assets/js/jquery-2.2.3.min.js"></script>

    <!-- testimonials  Responsiveslides -->
    <script src="/assets/js/responsiveslides.min.js"></script>
    <script>
        // You can also use"$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- //testimonials  Responsiveslides -->
    <!-- start-smooth-scrolling -->
    <script src="/assets/js/move-top.js"></script>
    <script src="/assets/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="/assets/js/SmoothScroll.min.js"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <script src="/assets/js/counter.js"></script>
    <!-- //stats -->
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/bootstrap.js"></script>
