<head>
    <title>Insurance Finance category Flat Bootstrap Responsive website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Insurance Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <!--link href="/assets/css/bootstrap.css" type="text/css" rel="stylesheet" media="all"-->
    <link href="/assets/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- grid hover -->
    <link href="/assets/css/hover.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="/assets/css/fontawesome-all.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- //online-fonts -->
</head>
    
<div class="about-w3sec py-sm-5" id="about">
    <div class="container py-4">
        <div class="title-section pb-4">
            <h3 class="main-title-agile">you are in good hands</h3>
            <span class="title-line">
            </span>
        </div>
        <div class="ins-sec1">
            <div class="row">
                <div class="col-lg-4">
                    <div  class="abt-block mb-lg-0 mb-5">
                        <div class="serv_abs serv_bottom1">
                            <i class="fa fa-home"></i>
                        </div>
                        <h3 style= "color: #56238e; font-weight: 700;">PROPERTY</h3>
                        <p>Rutrum congue donec leo eget malesuada. Cras ultricies ligula sed magna dictum porta.</p>
                    </div>
                </div>
                <div class="col-lg-4 my-lg-0 my-md-5">
                    <div class="abt-block">
                        <div class="serv_abs serv_bottom2">
                            <i class="fa fa-car"></i>
                        </div>
                        <h3 style="color: #3899dd;">MOBILITY</h3>
                        <p>Congue rutrum congue leo eget malesuada. Cras ultricies ligula sed magna dictum porta.</p>
                    </div>
                </div>
                <div class="col-lg-4 mt-lg-0 mt-md-5">
                    <div class="abt-block mt-md-0 mt-5">
                        <div class="serv_abs serv_bottom3">

                            <i class="fa fa-heartbeat"></i>
                        </div>
                        <h3 style="color: #86bc35;">VITALITY</h3>
                        <p>Cras ultricies congue rutrum congue leo eget malesuada. Ligula sed magna dictum porta.</p>
                    </div>
                </div>
            </div>
    </div>
</div>
    <!-- //about -->
    
 

    <!-- contact -->
    <div class="contact-wthree" id="contact">
    <div class="container py-sm-5">
        <div class="title-section py-4">
            <h3 class="main-title-agile">contact us</h3>
            <span class="title-line">
            </span>
        </div>
        <div class="row py-lg-5 py-4">
            <div class="col-lg-4">
                <div class="agile-contact-top">
                    <h4>get in touch </h4>
                    <p>1234k Avenue,Block-4,New York City.</p>
                </div>
                <hr>
                <p>Donec mi nulla, auctor nec sem a, ornare auctor mi. Sed mi tortor, commodo a felis in,
                    fringilla
                    tincidunt
                    nulla. Vestibulum volutpat non eros ut vulpuuctor nec sem </p>
                <div class="d-sm-flex">
                    <a class="btn btn-primary mt-4 agile-link-bnr scroll" href="#footer" role="button">subscribe
                    </a>
                    <a href="#" role="button" data-toggle="modal" data-target="#exampleModal1" class="btn btn-primary mt-4 ml-3 agile-link-bnr scroll text-white">
                        Register Now</a>
                </div>
    
            </div>
            <div class="offset-2"></div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <!-- register form grid -->
                <div class="register-top1">
                    <form action="#" method="get" class="register-wthree">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>
                                        First name
                                    </label>
                                    <input class="form-control" type="text" placeholder="Johnson" name="email"
                                        required="">
                                </div>
                                <div class="col-md-6 mt-md-0 mt-4">
                                    <label>
                                        Last name
                                    </label>
                                    <input class="form-control" type="text" placeholder="Kc" name="name" required="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>
                                        Mobile
                                    </label>
                                    <input class="form-control" type="text" placeholder="xxxx xxxxx" name="email"
                                        required="">
                                </div>
                                <div class="col-md-6 mt-md-0 mt-4">
                                    <label>
                                        Email
                                    </label>
                                    <input class="form-control" type="email" placeholder="example@email.com" name="email"
                                        required="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>
                                        Your message
                                    </label>
                                    <textarea placeholder="Type your message here" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-agile btn-block w-100 font-weight-bold text-uppercase">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--  -----------------------------login----------------------------------- -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Login</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
                        <div *ngIf="isLoginError" class="red-text center error-message">
                            <i class="material-icons">error</i> Incorrect username or password
                        </div>
						<form action="/login/form" #loginForm="ngForm" class="col s12 white" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
							<div class="form-group">
								<label for="recipient-name" class="col-form-label">Username</label>
								<input type="email" class="form-control" #UserName ngModel name="UserName" placeholder="exemple@exemple.com" required >
							</div>
							<div class="form-group">
								<label for="password" class="col-form-label">Password</label>
								<input type="password" class="form-control" #Password ngModel name="Password" placeholder="Password" required>
							</div>
							<div class="right-w3l">
								<input type="submit"   class="form-control" [disabled]="!loginForm.valid" value="Login" routerLink="/menu/options" >
							</div>
							<div class="row sub-w3l my-3">
								<div class="col sub-agile">
									<input type="checkbox" id="brand1" value="">
									<label for="brand1" class="text-white">
										<span></span>Remember me?</label>
								</div>
								<div class="col forgot-w3l text-right">
									<a href="#" class="text-white">Forgot Password?</a>
								</div>
							</div>
							<p class="text-center dont-do text-white">Don't have an account?
								<a href="#" data-toggle="modal" data-target="#exampleModal1" class="text-white">
									Register Now</a>

							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
        <!-- ------------------------------------------------------------------------------------ -->
        
    <!-- ------------------------------------------register ---------------------------------------->
    <div class="modal fade" id="exampleModal1"  role="dialog" aria-labelledby="exampleModalLabel1"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form #form="ngForm" (submit)="onSubmit(form)" autocomplete = "off">
                      
                        <div class="form-group">
                            <label class="col-form-label">Email</label>
                            <input type="email" #email="ngModel" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" placeholder=" " name="Email" #Email = "ngModel" [(ngModel)]="service.formData.Email" required>
                            <!--div class="validation-error" *ngIf="Email.invalid && Email.touched"> This field is required</div-->
                            <div *ngIf="email.errors && (email.invalid && email.touched)">
                            <div class="validation-error"  *ngIf="email.errors.required"> Email is required</div>
                            <div class="validation-error" *ngIf="email.errors.pattern">Please provide a valid email address</div>
                        </div>
                        </div>




                        <div class="form-group">
                            <label class="col-form-label">Vehicle Registration</label>
                            <input type="text" #VehicleRegistration="ngModel"  required pattern= "^[A-Z]{2}[ -][0-9]{1,2}(?: [A-Z])?(?: [A-Z]*)? [0-9]{4}$" class="form-control" placeholder=" " name="VehicleRegistration" #VehicleRegistration = "ngModel" [(ngModel)]="service.formData.VehicleRegistration" required>
                            <div *ngIf="VehicleRegistration.errors && (VehicleRegistration.invalid && VehicleRegistration.touched)">
                            <div class="validation-error"  *ngIf="VehicleRegistration.errors.required"> Vehicle Registration is required</div>
                            <div class="validation-error" *ngIf="VehicleRegistration.errors.pattern">Please provide a valid Vehicle Registration </div>
                        </div>
                        </div>

                        <div class="form-group">
                        <label class="col-form-label">Registration Country</label>
                            <select placeholder="Phantasyland"  #RegistrationCountry="ngModel"  class="form-control" name="RegistrationCountry" #RegistrationCountry = "ngModel" [(ngModel)]="service.formData.RegistrationCountry" required>
                                <option *ngFor ="let count of countryList">{{count.name}} </option>
                            </select>
                            <div *ngIf="RegistrationCountry.errors && (RegistrationCountry.invalid && RegistrationCountry.touched)">
                                <div class="validation-error"  *ngIf="RegistrationCountry.errors.required"> Registration Country is required</div>
                        </div>

</div>

                        
                        <div class="form-group">
                            <label class="col-form-label">Phone Number</label>
                            <input type="text" #PhoneNumber="ngModel" required pattern="" class="form-control" placeholder=" " name="PhoneNumber" #PhoneNumber = "ngModel" [(ngModel)]="service.formData.PhoneNumber" required>
                                <div *ngIf="PhoneNumber.errors && (PhoneNumber.invalid && PhoneNumber.touched)">
                                    <div class="validation-error"  *ngIf="PhoneNumber.errors.required"> Registration Country is required</div>
                            </div>

                    </div>
                        <div class="form-group">
                            <label class="col-form-label">Password</label>
                            <input type="password" class="form-control" placeholder=" " name="Password" #Password = "ngModel" [(ngModel)]="service.formData.Password" required>
                            
                        </div>

                        <div class="form-group">
                            <label  class="col-form-label">Confirm Password</label>
                            <input type="password" class="form-control" placeholder=" " name="ConfirmPassword" #ConfirmPassword = "ngModel" [(ngModel)]="service.formData.ConfirmPassword" required validateEqual="password">
                        </div>

                  
                        <div class="right-w3l">
                            <input type="submit"   class="form-control" value="Register" [disabled]="form.invalid"  routerLink="/home" >
                               
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
      